@import url(reset.css);

body{
	font-family: 'Poppins';
	font-weight: 300;
	font-size: 14px;
	line-height: 1.79;
	color: #6C757D;
}

[class*="__container"]{
	max-width: 1270px;
	margin: 0 auto ;
	padding: 0px 15px 0px 15px;
}

/* ?HEADER */
.header {
	width: 100%;
	margin-bottom: 100px;
}

.header img{
	width: 100%;
	}



/*?MAIN*/
img{
	border-radius: 5px;
}
.article__text-block {
	max-width: 816px;
	margin: 0 auto 100px;
}

.text{
	margin-bottom: 30px;
}

.subtitle{
	margin-bottom: 15px;
}
.subtitle p{
	display: inline-block;
	margin: 0px 50px 0px 0px;
}

.border-bottom{
	max-width: 816px;
	border-bottom: 1px solid #E5E5E5;
}

.title {
	max-width: 605px;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
	margin-bottom: 15px;
}


.image{
	width: 100%;
	margin: 0px 0px 100px 0px;
}

.images{
	font-size: 0px;
	margin-bottom: 100px;
}

.images img{
	width: 50%;
}

.images-1{
	padding-right: 15px;
}

.images-2{
	padding-left: 15px;
}


/*?  FOOTER  */
.footer{
	
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	padding: 30px 0;
	background-color: #212529;
	text-align: center;
}
.footer-text{
	max-width: 400px;
	margin: 0 auto;
	border: 4px #6C757D  solid;
	border-radius: 30%;
}




