@import url(reset.css);
@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');






[class*="__container"]{
	max-width: 1270px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}
.wrapper{
	overflow: clip;
	min-height: 100%;
	
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.67;
}





.header--fixed{
	position: fixed;
	width: 100%;
	z-index: 50;
	
}
.header__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 36px;
	padding-bottom: 36px;
	background-color: rgba(0, 0, 0, 0.8);
}

.header__logo{
	display: flex;
	align-items: center;
}

.menu-header{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 25px;
}
.menu-header__list{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 25px;
}
.menu-header__list:after{
	content: "";
	display: inline-block;
	height: 25px;
	width: 2px;
	background-color: rgba(229, 229, 229, 0.5);
	
}
.menu-header__item{
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	color: rgba(248, 249, 250, 0.5)	;
	transition: all 0.3s;
}
.menu-header__item:hover{
	color: rgba(248, 249, 250, 1);
}
.menu-header__item::after{
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	background-color: rgba(221, 190, 169, 1);
	border-radius: 2px;
	opacity: 0;
	transition: all 0.3s;
}
.menu-header__item:hover::after{
	opacity: 1;
}
.menu-header__item:hover .menu-header__link--active::after{
	background: url(../img/header/arrow-hover.svg) 0 0 no-repeat;
}
.menu-header__link--active::after{
	content: "";
	display: inline-block;
	background: url(../img/header/arrow.svg) 0 0 no-repeat;
	width: 8px;
	height: 8px;
	margin-left: 5px;
	vertical-align: middle;
}



.search__link{
	display: flex;
	align-items: center;
	transition: all 0.3s;
}
.search__link:hover{
	transform: scale(1.4);
}



/* ---------------- */
.text{
	color: #495057;
}
.title{
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
}



.slyder{
	
	background: url(../img/slyder/slyder.webp)0 0/cover no-repeat;
	
}
.slyder__container{
	
	padding-top: 330px;
	padding-bottom: 100px;
}

.slyder__content{
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 615px;	
}
.slyder__text{
	color: #E5E5E5;
}
.slyder__title{
	color: #F8F9FA;
}
.section__container{
	padding-top: 100px;
}
.header-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	color: #495057;
	margin-bottom: 44px;
}
.appearance__list{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.appearance__item{
	color:rgba(73, 80, 87, 0.5);
	transition: all 0.3s;
}
.appearance__item:hover{
	color:rgba(73, 80, 87, 1)
	;
}

.section__items{
	display: flex;
	flex-wrap: wrap;
	margin:0 -15px;
	row-gap: 45px;
	margin-bottom: 60px;
}
.item-section{
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 33.33%;
	padding: 0 15px;

}
.item-section__img{
	position: relative;
	margin: 0px 0px 30px 0px;
	transition: all 0.3s;
}
.item-section__img:hover{
	transform: scale(1.05);
}
.img__btn{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 3;
	font-weight: 700;
	font-size: 8px;
	line-height: 2.5;
	text-align: center;
	color: #F8F9FA;
	background: rgba(33, 37, 41, 0.3);
	border-radius: 3px;
	padding: 3px 12px 2px 12px;
	transition: all 0.3s;
}
.img__btn:hover{
	color: rgba(33, 37, 41, 1);
	background: #F8F9FA;
}
.item-section__img img{
	width: 100%;
	
}

.article__title{
	margin-bottom: 15px;
}
.article__title:hover{
	text-decoration: underline;
}
.article__text{
	margin-bottom: 15px;
}
.article__text:hover{
	text-decoration: underline;
	
}

.article__text--border::after{
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	background-color: #E5E5E5;
	margin-top: 15px;
}


.btn-section{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-section__link{
	padding: 8px 50px;
	background: #212529;
	border-radius: 3px;
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	color: #F8F9FA;
	transition: all 0.3s;
}
.btn-section__link:hover{
	padding: 8px 60px;
	text-decoration: underline;
	
}